# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
npm-debug.log
yarn-error.log
yarn-lock.json
package-lock.json

template/.env.deveopment
template/.env.production
template/.env.staging

node_modules
